
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
  .slogan {
    text-align: center;
    padding: 32px;
  }
  
  .sutun {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .satir {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .satir img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  @media (max-width: 600px) {
    .satir {
      flex: 100%;
      max-width: 100%;
    }
  }
  