<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Etkinlikler</title>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <link rel="stylesheet" href="etkinlikler.css">
    </head>
    <body>
        <div id="etkinlik">
            <h3>Etkinlikler</h3>
            <button v-on:click="age++">Yaşımı Artır</button>
            <button v-on:click="age--">Yaşımı Azalt</button>
            <button v-on:click="ekle10(10)">Yaşımı 10 Artır</button>
            <button v-on:click="cikar10(10)">Yaşımı 10 Azalt</button>
            <p>Yaşım: {{ yas }}</p>
            <a v-on:click.prevent="tikla" href="http://www.w3schools.com">W3schools</a>
            <br><br>
            <div id="canvas" v-on:mousemove="updateXY">{{ x }}, {{ y }}</div>
            <h3>Klavye Etkinlikleri</h3>
            <label for="eposta">Kullanıcı adı:</label> <input type="text" v-on:keyup.enter="kullaniciAdi"><br>
            <label for="sifre">Şifre:</label> <input type="text" v-on:keyup.alt.enter="sifre"><br><br>
            <label for="isim">İsim:</label> <input type="text" v-model="isim">
            <p>{{ isim }}</p><br>
            <label for="soyisim">Soyisim:</label> <input type="text" v-model="soyisim">
            <p>{{ soyisim }}</p><br>


            <button v-on:click="a++">A'ya 1 Ekle</button>
            <button v-on:click="b++">B'ye 1 Ekle</button>
            <p>A: {{ a }}</p>
            <p>B: {{ b }}</p>
            <p>Yaş + A = {{ yeniA }}</p>
            <p>Yaş + B = {{ yeniB }}</p>
        </div>
    </body>
    <script src="etkinlikler.js"></script>
</html>
